<h1>Show Place</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @place.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.place_path(@conn, :edit, @place) %></span>
<span><%= link "Back", to: Routes.place_path(@conn, :index) %></span>
