.icon-button {
  background: none;
  border: 0;
  padding: 0;

  &:hover {
    background: none;
  }
}

.table-link {
  color: $primary-text;
}

.table-header {
  color: $secondary-text;
}

.table-row {
  padding: 1rem 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}
