//Materialize overrides
$primary-color: #2196f3;
$primary-color-light: #1976d2;
$primary-color-dark: #bbdefb;
$secondary-color: #ff4081;

//App variables
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
